/* set root colors */
:root {
    --primary-color: white;
    --secondary-color: red;
    --tertiary-color: blue;
    --fourth-color: green;
    --fifth-color: black;
}

/* establish full length sections across page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
}

/* start header style */
header {
    background-image: url("../images/blue_sky.jpeg");
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

/* set "Snowden" name */
header h1 {
    font-weight: bold;
    margin: 0;
}

/* remove hyperlink underline for header items */
header a {
    text-decoration: none;
    color: var(--primary-color);
}

/* start navigation style */
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul a {
    font-size:1.66vw;
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* set change when mouse hovers over nav items */
header nav ul a:hover {
    background: var(--fifth-color);
    color: var(--fourth-color);
    border-radius: 15px;
    text-shadow: none;
}
/* end navigation style */
/* end header style*/

/* start hero style */
.hero {
    background-image: url("../images/soft_blue_background.jpg");
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}

/* photo for hero style */
.hero-photo {
    width: 50%;
    display: flex;
    align-self: center;
    flex: 1;
}

.hero-photo img {
    width: 80%;
    border: 3px solid black
}

.hero-quote {
    width: 80%;
}

.hero-quote h2 {
    border: 3px solid var(--fifth-color);
    background-color: var(--fourth-color);
    width: 30%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    padding: 10px 10px 0 0;
    margin-top: 10px;
}
/* end hero style */

/* start section style */
section {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  
.section-article {
    border-left: 3px solid var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
}

.section-article a {
    text-decoration: none;
}

.flex-row {
    width: 30%;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.me-paragraph {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 10px
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects img{
    width: 50%;
    opacity: 65%;
}

.projects h3 {
    z-index: 9999;
}

.projects img:hover {
    opacity: 100%;
}

.projects-first-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.run-buddy {
    border: 3px solid var(--fifth-color);

 }

.projects-second-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.projects-third-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-flex {
    align-items: center;
}
/* end section style */

/* start footer style */
footer {
    width: 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 25px;
    margin: 0;
    text-align: left;
}
/* end footer */

/* Test style for media queries */
@media screen and (max-width: 980px) {
  
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top:20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .section-title {
        width: 80%;
      }
}
/* MEDIA QUERY FOR TABLETS AND SMALL */
@media screen and (max-width: 786px) {
 
    section {
     padding: 30px 15px;
   }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .section-title {
        width: 95%;
      }
}