:root {
    --primary-color: #fff;
    --secondary-color: #fc9622;
    --tertiary-color: #2067ed;
    --fourth-color: #1757ce;
    --fifth-color: #0a1b3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul a {
    font-size:1.55vw;
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-align: center;
    flex: 1;
}

.run-buddy-img {
   background-image: url("../images/run_buddy_screenshot.PNG");
   background-size: contain;
   background-position: fixed;
   width: 500%;
   height: 275%;
}


section {
    padding: 60px;
}

.section-article a {
    text-decoration: none;
}

.hero {
    background-image: url("../images/Alfie.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
}

.hero-quote {
    border: 3px solid var(--fifth-color);
    background-color: var(--fourth-color);
    width: 50%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about {
    background-image: url("../images/Alfie.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
}

.me-paragraph {
    width: 35%;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
}

.section-title {
    font-size: 48px;
    color: var(--seconday-color);
    border-right: 3px solid var(--fourth-color);
    margin: 5px;
    padding: 5px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
  }